@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;

}
.navbut{
    background-color: white;
    border-width: 2px;
    border-color: rgba(12, 12, 12, 0.959) !important; 
    width: 150px;
    height: 50px;
    font-weight: bolder !important; 
    text-align: center;
    

    
}

.navbut:hover{
    background-color: black;
    color: white;
}

.nav-link{
   font-weight: bold;
    margin: 8px;
}


.navbutton{
    color: rgba(12, 12, 12, 0.959) !important;
    text-align: center;
}

section{
    height: 100vh;
    width: 100%;
    
}

.model{
    height: 70vh;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    color: white;
    font-family: 'DM Serif Display', serif; 
    display: flex;
    align-items: center;
   
}

.firstflex{
   display: flex;
   align-content: center;
    
}

.border-tops{
   border-top:1px solid #fff ; 
   width: 100px;
}

.border-tops1{
    border-top:1px solid black ; 
    width: 100px;
 }



.box1{
   height: 100%;
   width: 100%;
   

}
.box2{
    height: 300px;
    width: 200px;
    
}




.intro{
    margin-left: 130px;
    height: 600px;
    
}

.button2{
    background-color: hsl(256, 26%, 20%);
    border-width: 1px;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    
}

.button2:hover{
    background-color: white;
}

.font2{
    font-size: 60px;
    font-weight: bolder;
}

.landscape{
    height: 200px;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    display: flex;
    align-items: center;
    
    
}


.content1{
   position: relative;
   margin-left:50px ;
   color: white;
}


.workbutton{
    margin-left: 500px;
    background-color: hsl(256, 26%, 20%);
    border-width: 1px;
    border-color: white;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
}

.workbutton:hover{
    background-color: white;
}
.patern3{
    position: absolute;
    margin-left: 760px;
}

.foot{
    height: 300px;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
}

.nav2{
    margin: 8px;
}

.nav2:hover{
    background-color: rgb(44, 44, 44);
    size: 10px;
}


.center{
    text-align: center;
}


.heading1{
    color: hsl(273, 4%, 51%);
}


.footlist{
    font-size: 16px;
    font-weight: bold;

}

.hero{
   position: absolute;
   margin-left: 800px;
   margin-top: 100px;
}

.patenintro{
    position: absolute;
    margin-left: -15px;
    margin-top: 250px;
}

.patenintro2{
    position: absolute;
    margin-left: 1082px;
    margin-top: -44px;
}

.text {
    color: hsl(273, 4%, 51%);
}

.headh1{
    font-size: xx-large;
}

/* for active - used hover  */